@using CodigoComun.Entities.DTO;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DepositoDTO;
<div class="container">
    <h1 class="display-1 text-dark">
        Delete <small class="text-white bg-secondary bg-opacity-35"> Deposito </small>
    </h1>
    <br />
    <div class="row">
        <div class="card rounded-6" style="width: 90rem;">
            <div class="card-body">
                <h5 class="card-title">Borrando Articulos</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"><small class="text-white bg-secondary bg-opacity-35 rounded-2">WebbAppStock</small></h6>
                @if (Model.HuboError == true)
                {
                    <p class="card-text text-danger p-0">
                        @ViewBag.Mensaje
                    </p>
                }
                else
                {
                    <p class="card-text text-success p-0">
                        @ViewBag.Mensaje
                    </p>
                }

            </div>
        </div>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Volver</a>
</div>