@using WebAppStock.ViewModel;
@model StockViewModel;
<h1 class="display-4"> Crear  <small class="text-white bg-success bg-opacity-35">Stock</small> </h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <br>
            <div class="form-group">
                <label class="control-label">Artículo</label>
                @Html.DropDownListFor(model => model.StockDTO.IdArticulo, Model.selectArticulosList, new {@class = "custom-select custom-select-sm"})
            </div>
            <br>
            <div class="form-group">                                
                <label class="control-label">Deposito</label>
                @Html.DropDownListFor(model => model.StockDTO.IdDeposito, Model.selectDepositosList, new {@class = "custom-select custom-select-sm"})                                
            </div>
            <br>
            <div class="form-group">
                <label class="control-label">Cantidad</label>
                <input asp-for="StockDTO.Cantidad" class="form-control" />
            </div>
            <br>
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />                
            </div>
        </form>
    </div>
</div>
<br>
    <label class="text-danger">@ViewBag.Mensaje</label>
<br>
<div>
    <a asp-action="Index">Volver</a>
</div>
